name: "Deploy docs"

on:
  push:
    branches:
      - main
    paths:
      - "docs/**/*"
      - "depeche_db/**/*.py"
      - ".github/workflows/docs-gh-pages.yml"
      - "mkdocs.yml"
      - ".mkdocs-overrides/**/*"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy-docs:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Install graphviz
        run: sudo apt-get install -y graphviz
      - uses: actions/checkout@v3
        with:
          ref: gh-pages
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install
        run: |
          pipx install uv
          uv sync --group dev --group docs
      - name: Deploy docs
        run: uv run mkdocs gh-deploy
